body {
  font-family: Roboto, sans-serif;
  margin: 2rem;
}

.container {
  max-width: 300px;
  padding: 2rem;
  margin: 0 auto;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: animeLeft 0.3s ease forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
